bin/
obj/
.dotnet/
.dotnet-home/
.tools/
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
.nuget/
.appdata/
publish/
.private/
*.jks
*.keystore
*.p12
*.pfx
*.db
*.db-shm
*.db-wal
*.log
**/signing.properties
/Remote_NumPad_*执行说明.md
NuGet.Config
Remote_NumPad_v0.1_开发执行说明.md
Remote_NumPad_v0.2_Excel专用扩展执行说明.md
